body {
    font-family: Arial, sans-serif;
    background-color: #cbcbcb;
    margin: 0;
}

/* header */
.header {
    background-color: #343a40;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.header-content {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

.header-content .nav {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav span {
    color: #007bff;
    margin-left: 5px;
    margin-top: initial;
}

.company-info {
    max-width: 70%;
}

.company-name {
    font-size: 1.8em;
    margin: 0;
    font-weight: bold;
}

.company-details {
    margin: 5px 0 0;
    font-size: 0.9em;
    line-height: 1.6;
}

.company-details a {
    text-decoration: none;
}

.company-details a:hover {
    text-decoration: underline;
}

/* content */
.info-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.job-info,
.candidate-info {
    /*max-width: fit-content;*/
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 35px;
}

.candidate-info {
    width: 65%;
}

.job-info h2,
.candidate-info h2 {
    margin: 0;
    font-size: 1.5em;
    background: #000;
    color: #fff;
    width: 100%;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    text-align: center;
}

.job-detail,
.candidate-detail {
    padding: 13px;
}

.btn-sent {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-detail {
    background: none;
    border: none;
}