body {
    font-family: Arial, sans-serif;
    background-color: #cbcbcb;
    margin: 0;
}

/* header */
.header {
    background-color: #343a40;
    padding: 15px 0;
    text-align: center;
}

.header-content {
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    flex-wrap: wrap;
}

.title p {
    color: white;
    margin-top: 15px;
    font-size: 24px;
    font-weight: 700;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    background-color: #cbcbcb;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.menu a:hover {
    color: #3a94ed;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-input {
    padding: 6px 12px;
    border: none;
    border-radius: 4px 0 0 4px;
    outline: none;
    width: 200px;
}

.search-button {
    padding: 6px 12px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    font-weight: bold;
}

.search-button:hover {
    background-color: #138496;
}

.btn-logout a {
    display: flex;
    align-items: center;
    gap: 13px;
    color: white;
    text-decoration: none;
}

.btn-logout p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    gap: 29px;

}

/* sidebar */
.sidebar {
    width: 350px;
    height: fit-content;
    background-color: #f8f9fa;
    padding: 15px;
    border-right: 1px solid #ddd;
    border-radius: 5px;
}

.sidebar h3 {
    margin-bottom: 15px;
}

.sidebar p {
    margin: 5px 0;
}

/* jobs */
.container-job {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.job-card {
    background-color: white;
    width: 320px;
    padding: 20px 15px;
    border-radius: 5px;
    margin-left: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.job-card button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.job-card button:hover {
    background-color: #0056b3;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.pagination ul li a {
    text-decoration: none;
    padding: 10px 15px;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 50%;
}

.pagination ul li a.active {
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
}
