<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Candidate</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/candidate.css}"/>
</head>
<body>

<header class="header">
    <div class="header-content">
        <div class="menu">
            <div class="avatar">
                <i class="fa-solid fa-user"></i>
            </div>
            <a href="#">Home</a>
            <a href="#">Jobs</a>
            <a href="#">Suitable Job</a>
        </div>
        <div class="search-bar">
            <input type="text" placeholder="Search..." class="search-input"/>
            <button class="search-button">Search</button>
        </div>


        <div class="btn-logout">
            <a href="/">
                <p>Logout</p>
                <i class="fa-solid fa-arrow-right-from-bracket"></i>
            </a>
        </div>
    </div>
</header>

<div class="container">
    <div class="sidebar">
        <h3>Candidate Information</h3>
        <p><strong>Full Name:</strong> <span th:text="${candidate.fullName}"></span></p>
        <p><strong>Email:</strong> <span th:text="${candidate.email}"></span></p>
        <p><strong>Phone:</strong> <span th:text="${candidate.phone}"></span></p>
        <p><strong>Date of Birth:</strong> <span th:text="${dob}"></span></p>
        <p><strong>Address:</strong> <span th:text="${candidate.address.number}"></span>
            <span th:text="${candidate.address.street}"></span>
            <span th:text="${candidate.address.city}"></span>
            <span th:text="${candidate.address.zipcode}"></span></p>
        <p><strong>Skills:</strong></p>
        <ul th:each="entry : ${skillsByType}">
            <li>
                <strong th:text="${entry.key}">Skill Type</strong>
                <ul>
                    <li th:each="candidateSkill : ${entry.value}">
                        <span th:text="${candidateSkill.skill.skillName}">Skill Name</span>
                        (<span th:text="${candidateSkill.skillLevel}">Skill Level</span>)
                    </li>

                </ul>
            </li>
        </ul>
    </div>

    <div>
        <div class="container-job">
            <div th:each="job : ${jobs}" class="job-card">
                <div>
                    <p class="job-name"><strong>Job name: </strong><span th:text="${job.getJobName()}"></span></p>
                    <p class="skills"><strong>Skills: </strong><span th:text="${job.getSkillString()}"></span></p>
                    <p class="comp-name"><strong>Company: </strong><span th:text="${job.getCompany().getCompName()}"></span></p>
                    <p class="comp-address"><strong>Address: </strong><span th:text="${job.company.address.number}"></span>
                        <span th:text="${job.company.address.street}"></span>
                        <span th:text="${job.company.address.city}"></span>
                        <span th:text="${job.company.address.zipcode}"></span></p>
                </div>
                <div style="text-align: end">
                    <button class="btn-apply">Apply</button>
                </div>
            </div>
        </div>

        <div class="pagination">
            <ul>
                <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
                    <a th:href="@{/candidate(id=${id}, page=${i}, size=${size})}"
                       th:text="${i + 1}"
                       th:classappend="${i == currentPage} ? 'active' : ''"></a>
                </li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>